
    workspace-calculator {
        border: solid #dddddd;
        border-width: 1px;
        flex-shrink: 0;
        width: 225px;
    }
    workspace-cart-table{
        margin: 2.2em 4em 2.2em 3.2em;
    }
    .container{
        height: 100%;
    }