<div class="flex-grid h-100 nowrap">
    <div class="side-nav col-3">
        <!-- Filters -->
        <mat-form-field class="w-100">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Ex: Client Name">
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Sort By</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of []" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <!-- Title -->
        <h3 class="line-title">Entries</h3>
        <!-- List -->
        <div>
          <workspace-product-entry class="m-1"></workspace-product-entry>
        </div>
      </div>
      <div *ngIf="(product$ | async) as product" class="content flex-grid nowrap space-around m-1 fill-remaining-space">
        <button (click)="onEdit(product)" mat-fab><mat-icon>edit</mat-icon></button>
          <div class="fields  fill-remaining-space">
              <div>
                  <b>Codebar: </b>
                  <span>{{product?.codebar}}</span>
              </div>
              <div >
                  <div>
                    <b>Category: </b>
                    <span>{{product?.categoryId}}</span>
                  </div>
                  <div>
                    <b>Name: </b>
                    <span>{{product.name}}</span>
                  </div>
              </div>
              <div>
                <b>Suppplier: </b>
                <span>
                  {{product?.supplierId}}
                </span>
              </div>
              <div>
                <b>Quantity Alert:</b>
              </div>
              <div *ngIf="product?.quantityAlert as quantityAlert" class="flex-grid nowrap ">
                  <div>
                    <b>Min: </b>
                    <span>{{quantityAlert?.minQuantity}}</span>
                  </div>
                  <div>
                    <b>Max: </b>
                    <span>{{quantityAlert?.maxQuantity}}</span>
                  </div>
              </div>
              <div>
                  <b>Description:</b>
              </div>
              <div>
                <p>{{product?.description}}</p>
              </div>
          </div>
          <div class="images">
              <img src="assets/package-102.svg" alt="">
              <div class="flex-grid nowrap">
                  <img src="https://via.placeholder.com/80" alt="">
                  <img src="https://via.placeholder.com/80" alt="">
              </div>
          </div>
      </div>
</div>package-102