<div class="flex-grid nowrap h-100 "
*ngIf="(selectedProduct$ | async) as selectedProduct">
  <workspace-product-entries-list class="col-3"
    [product]="selectedProduct">
  </workspace-product-entries-list>
  <div class="m-x-1 fill-remaining-space">
    <div class="flex-grid m-1 reverse ">
      <button mat-fab
      (click)="onEdit(selectedProduct)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <workspace-product-info  
      [product]="selectedProduct">
    </workspace-product-info>
  </div>
</div>