

<div class="container">
  <div class="search-bar">
    <div class="flex-grid space-between ">
      <mat-form-field>
        <input matInput placeholder="Ex: Product Name">
        <mat-label>Search</mat-label>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Sort By</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of []" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>

  </div>
  <div class="container  flex-grid nowrap ">
    <!-- Orders Nav -->
    <div class="side-nav">
      <!-- Filters -->
      <div class="m-x-1">
        <mat-form-field class="w-100">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Ex: Client Name">
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Sort By</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of []" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <!-- Title -->
      <h3 class="line-title">Categories</h3>
      <!-- List -->
        <div>
            <button mat-button  class="category w-100">
                <mat-icon>label</mat-icon>
                Vegetables
            </button>
        </div>
    </div>
    <!-- Products -->
    <div class="content flex-grid">
            <workspace-product-grid-card class="col-2 m-1" *ngFor='let i of [1,2,2,3,3,4,5,1,1,1,1,1,1,1,1,1,11,1,1,11]'></workspace-product-grid-card>
    </div>
  </div>
  
</div>
