
<div class="container">
  <div class="search-bar">
    <div class="flex-grid nowrap space-between">
      <mat-form-field>
        <input matInput placeholder="Ex: Product Name">
        <mat-label>Search</mat-label>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Sort By</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of []" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="flex-grid fill-remaining-space nowrap">
    <!-- Categories Nav -->
    <workspace-categories-list class="col-3"
      [editable]="true">
      
    </workspace-categories-list>
    <!-- Products -->
    <div class="content fill-remaining-space flex-grid">
      <workspace-product-grid-card [editable]="true" class="col-3 m-1" 
        *ngFor="let product of ( products$ | async )"  
        (click)="onSelect(product)" 
        [product]="product">
        
    </workspace-product-grid-card>
      <button mat-fab (click)="onAdd()"><mat-icon>add</mat-icon></button>

    </div>
  </div>
  
</div>
