
<div class="container">
  <div class="search-bar">
    <div class="flex-grid nowrap space-between">
      <mat-form-field>
        <input matInput placeholder="Ex: Product Name">
        <mat-label>Search</mat-label>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Sort By</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of []" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="flex-grid fill-remaining-space nowrap">
    <!-- Orders Nav -->
    <div class="side-nav ">
      <!-- Filters -->
      <div class="m-x-1">
        <mat-form-field class="w-100">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Ex: Client Name">
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Sort By</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of []" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <!-- Title -->
      <h3 class="line-title">Categories</h3>
      <!-- List -->
        <div >
            <button mat-button *ngFor="let category of (categories$ |async)" class="category m-y-1 w-100">
                <mat-icon>label</mat-icon>
                {{category.name}}
            </button>
        </div>
    </div>
    <!-- Products -->
    <div class="content fill-remaining-space flex-grid">
      <workspace-product-grid-card (click)="onView(product)" *ngFor="let product of ( products$ | async )" class="col-3 m-1" [product]="product"></workspace-product-grid-card>
      <button mat-fab (click)="onAdd()"><mat-icon>add</mat-icon></button>

    </div>
  </div>
  
</div>
