
<div class="container  h-100 flex-grid nowrap ">
  <!-- Orders Nav -->
  <workspace-orders-list (selectOrder)="onSelectOrder($event)" [orders]="orders$ | async"></workspace-orders-list>

  <!-- Order Info -->
  <div *ngIf="(selectedOrder$ | async) as selectedOrder" class="content fill-remaining-space">
    <div class="m-1">
      <workspace-order-info [order]="selectedOrder" ></workspace-order-info>
    </div>
    <div class="m-1">
      <workspace-cart-table *ngIf="(selectedOrderAsCart$ | async) as cartItems" [entries]="cartItems"></workspace-cart-table>
    </div>
  </div>
</div>