  
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
$app-primary: mat-palette($mat-deep-purple,500,700,800);

// Define a custom mixin that takes in the current theme
$app-primary: mat-palette($mat-deep-purple,500,700,800);
$app-accent:  mat-palette($mat-red,A200);
$app-warn:    mat-palette($mat-pink);
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

// Create theme specfic styles
.primary-color-bg {
    background-color: $primary;
}
.accent-color-bg {
    background-color: $accent;
}
.warn-color-bg {
    background-color: $warn;
}
.primary-color {
    color: $primary;
}
.accent-color {
    color: $accent;
}
.warn-color {
    color: $warn;
}
html {
    height: 100%;
    font-size: 16px;
}
*{
    box-sizing: border-box;
    
}
.side-nav{
    border: solid #dddddd;
    border-width: 1px;
    
    flex-shrink: 0;
    width: 300px;
    min-height: 100%;
}
.search-bar{
    margin: 0 1em;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    height: 100%;
    display: flex;
}

p {
    margin: 16px;
}

[md-raised-button] {
    width: 100%;
}

.icon-20 {
    font-size: 20px;
}
.icon-40 {
    font-size: 40px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
}


.shadow-box{
    box-shadow: 0 9px 18px rgba($color: #000000, $alpha: 0.26);
    transition: box-shadow;
}
.shadow-box.clickable:hover{
    box-shadow: 0 9px 18px rgba($color: #000000, $alpha: 0.4);
}
.clickable{
    cursor: pointer;
}
.full-width {
    width: 100%;
}
.nav-link {
    color: rgba($color: #ffffff, $alpha: .83);
    display: flex !important;
    align-items: center;
        padding: 1em 0;
}

.status-success{
    color:rgba($color: #80CBC4, $alpha: 0.83) ;
}
.status-success-bg{
    background-color:rgba($color: #80CBC4, $alpha: 0.83) ;
}
.status-fail{
    color:rgba($color: #FF5252, $alpha: 0.83) ;
}
.status-fail-bg{
    background-color:rgba($color: #FF5252, $alpha: 0.83) ;
}

.mat-sidenav-container {
    background: #ffffff;
    height: 100%;
    width: 100%;
}
.fill-remaining-space {
    flex: 1 1 auto;
}
/**
* Grid 
**/
$columns:12;
.flex-grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .reverse{
        flex-direction: row-reverse;
    }
}
.flex-grid {
    @for $i from 1 through $columns {
        .col-#{$i} { 
            width: percentage($number: ($i/$columns));
        }
    }
    .col{
        flex:1;
    }
}
.logo{
    background-image: url(assets/logo-white.png);
    background-size:100% 100%;
    background-position: center;
    height: 100px;
    margin: 0 2em;

}

.line-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.line-title:after, .line-title:before {
    content: '';
    width: 100%;
    height: 2px;
    background: #dddddd;
    margin: 0 10px;
}
/**
* Flex Utils
**/
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.end{
    justify-content: flex-end;
}
.start{
    justify-content: flex-start;
}
.align-center{
    align-items: center;
}
.align-end{
    align-items: flex-end;
}
.align-start{
    align-items: flex-start;
}
.justify-center{
    justify-content: center;
}
.nowrap{
    flex-wrap:nowrap;
}
/**
* List
**/
.list,[class|="list"]{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.m-auto{
    margin: auto;
}
@for $i from 1 through $columns {
    .m-#{$i} { 
        margin: $i*1em;
    }
    .m-x-#{$i} { 
        margin: 0 $i*1em;
    }
    .m-y-#{$i} { 
        margin: $i*1em 0;
    }
}
/**
    **Size
**/
.w-100{
    width: 100%;
}
.h-100{
    height:100%;
}
.debug{
    background-color: red;
}

.text-center{
    text-align: center;
}

.rounded{
    border-radius: 50%;
}
