<div class="container">
    <div class="search-bar">
        <div class=" flex-grid space-between ">
            <mat-form-field>
              <input matInput placeholder="Ex: Product Name">
              <mat-label>Search</mat-label>
            </mat-form-field>
            <mat-form-field >
              <mat-label>Sort By</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of []" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-divider></mat-divider>
    </div>
    <div class="content flex-grid">
        <workspace-supplier-grid-card (click)="onView(supplier)" *ngFor='let supplier of ( suppliers$ | async )' class="col-3 m-1" [supplier]="supplier"></workspace-supplier-grid-card>
        <button mat-fab (click)="onAdd()"><mat-icon>add</mat-icon></button>
    </div>
</div>